/*
   Css based somewhat on the W3C RFC examples.
   Just basic formatting to make the pages less painful on the eye.
*/
body {
  padding: 2em 1em 2em 70px;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

:link {
  color: #00C;
  background: transparent;
}

:visited {
  color: #609;
  background: transparent;
}

a:active {
  color: #C00;
  background: transparent;
}

a:link img,a:visited img {
  border-style: none
}  /* no border on img links */
h1,h2,h3,h4,h5,h6 {
  text-align: left
}

h1,h2,h3 {
  color: #005A9C;
  background: white;
  clear: both;
}

h1 {
  font: 170% sans-serif;
}

h2 {
  font: 140% sans-serif;
}

h3 {
  font: 120% sans-serif;
}

h4 {
  font: bold 100% sans-serif;
}

h5 {
  font: italic 100% sans-serif;
}

h6 {
  font: small-caps 100% sans-serif;
}

.hide {
  display: none;
}

div.head {
  margin-bottom: 1em;
}

div.head h1 {
  margin-top: 2em;
  clear: both;
}

div.head table {
  margin-left: 2em;
  margin-top: 2em;
}

p.copyright {
  font-size: small;
}

p.copyright small {
  font-size: small;
}

pre {
  margin-left: 2em;
}

dt,dd {
  margin-top: 0;
  margin-bottom: 0
} /* opera 3.50 */

dt {
  font-weight: bold;
}

pre,code {
  font-family: monospace
}  /* navigator 4 requires this */

img {
  margin-left:1em;
  margin-right:1em;
  margin-bottom:1em;
  border:1px solid #CCCCCC;
}
.marginalia {
  font-size:0.8em;
  margin-left:3em;
}
